// colors

$primary: #74ccf4;
$secondary: #f5f5f5;
$background: #282623;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
  ),
  $theme-colors
);

// fonts and button sizing
$h1-font-size: $font-size-base * 5;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-family-sans-serif: "Montserrat", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Montserrat", sans-serif;
$font-family-brand: "Montserrat", sans-serif;

$headings-font-family: $font-family-brand;
$input-btn-font-family: $font-family-sans-serif;
$btn-font-family: $input-btn-font-family;
$input-font-family: $input-btn-font-family;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
